h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Figtree", serif;
  font-weight: 700;
}

body {
  font-family: "Afacad", serif;
  font-weight: 500;
}

.text-green {
  color: #98e209;
}

.padding {
  padding: 70px 0px;
}

.award-div {
  position: relative;
}
.award-div h6 {
  font-size: 18px;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 0 0 0px 40px;
  font-size: 16px;
}
.award-div h6 .line-b-content {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 3px;
  width: 32px;
  background-color: #98e209;
  z-index: 1;
}

/*mnav css*/
.mnav {
  display: none;
}
.mnav .toggle-i {
  display: none;
}
.mnav .closeicon {
  display: none;
}

/*  */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickynav {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1111;
  transition: 0.5s;
  background-color: #98e209;
  width: 100%;
}
.stickynav .navbar .navbar-brand {
  position: relative;
}
.stickynav .navbar .navbar-brand img {
  box-shadow: none;
  z-index: 1;
}
.stickynav .navbar .navbar-brand h6 {
  position: absolute;
  left: 36px;
  top: 15px;
  z-index: -1;
  font-size: 22px;
  color: #000 !important;
}
.stickynav .navbar .nav-tag ul li a {
  color: #000 !important;
}
.stickynav .navbar .nav-tag ul li a:hover {
  background-color: #000 !important;
  color: #98e209 !important;
  transition: 0.5s;
}
.stickynav .navbar .navbutton button {
  color: #000 !important;
}
.stickynav .navbar .navbutton button:hover {
  color: #98e209 !important;
  background-color: #000 !important;
  transition: 0.5s;
}

nav {
  background-color: #000;
  border-bottom: 2px solid #292828;
  transition: 0.5s;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar .navbar-brand {
  position: relative;
}
nav .navbar .navbar-brand img {
  width: 45px;
  height: 38px;
  border-radius: 100%;
  margin: 0 5px 0 0px;
  z-index: 11;
}
nav .navbar .navbar-brand h6 {
  position: absolute;
  left: 36px;
  top: 16px;
  z-index: 1;
  font-size: 22px;
  color: #fff;
}
nav .navbar .nav-tag ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar .nav-tag ul i#closeicon {
  display: none;
}
nav .navbar .nav-tag ul li {
  list-style: none;
}
nav .navbar .nav-tag ul li a {
  color: #fff;
  text-decoration: none;
  padding: 23px 15px;
  transition: 0.5s;
}
nav .navbar .nav-tag ul li a:hover {
  background-color: #98e209;
  color: #000;
  transition: 0.5s;
}
nav .navbutton button {
  color: #fff;
  background-color: #98e209;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.5s;
}
nav .navbutton button:hover {
  color: #98e209;
  background-color: #fff;
  transition: 0.5s;
}

.hero-section {
  background-color: #000;
  height: auto;
  width: 100%;
  padding: 70px 0;
  /* hero img reviwe box css */
  /* count box css */
}
.hero-section .meet h2 {
  font-size: 48px;
  width: 53%;
  color: #fff;
  margin: 0;
}
.hero-section .meet img {
  width: 150px;
  height: 100px;
  margin: 0 20px 0 0;
}
.hero-section .hero-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-section .hero-tabs a {
  margin: 6px 3px 0 3px;
  text-decoration: none;
  color: #d8d3d3;
  border-left: 1px solid #fffcfc;
  border-right: 1px solid #fffdfd;
  border-radius: 30px;
  padding: 6px 22px;
  background-color: #242222;
  transition: 0.5s;
}
.hero-section .hero-tabs a h6 {
  font-size: 1rem;
  margin: 0;
}
.hero-section .hero-tabs a:hover {
  background-color: #98e209;
  color: #000;
  transition: 0.5s;
}
.hero-section .hero-tabs-right-cont {
  padding: 0px 0 0 140px;
  border-left: 1px #98e209;
}
.hero-section .herobanner-box-img-div {
  position: relative;
}
.hero-section .herobanner-box-img-div img {
  width: 100%;
  padding: 0 10px;
  border-radius: 35px;
}
.hero-section .herobanner-box-img-div img.star-image-hero-bennar-a {
  width: 15%;
  height: 23%;
  position: absolute;
  top: 56px;
  left: -50px;
}
.hero-section .herobanner-box-img-div img.star-image-hero-bennar-b {
  width: 11%;
  height: 14%;
  position: absolute;
  top: 20px;
  left: -85px;
}
.hero-section .herobanner-box-img-div img.star-image-hero-bennar-c {
  width: 8%;
  height: 9%;
  position: absolute;
  top: 130px;
  left: -73px;
}
.hero-section .reviwe-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #98e209;
  padding: 22px 0px;
  border: 8px solid #000;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 250px;
}
.hero-section .reviwe-img img {
  width: 20%;
  border-radius: 30px;
  padding: 0px 0px 0px 0px;
  height: 17%;
  margin: -12px;
}
.hero-section .reviwe-img h6.reviwe-content {
  padding: 0 20px;
}
.hero-section .reviwe-img h6.reviwe-content p {
  font-size: 14px;
}
.hero-section .count-box {
  background-color: #98e209;
  color: #000;
  padding: 46px 46px;
  border-radius: 35px;
}
.hero-section .count-box .count-1 {
  padding: 8px 0;
}
.hero-section .count-box .count-1 h6 {
  font-size: 2rem;
}
.hero-section .count-box .count-1 p {
  font-size: 1rem;
}

/* marque css */
.marquee_container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #98e209;
  padding: 0.2rem 0rem;
}

.marquee {
  display: inline-block;
  animation: marquee 24s linear infinite;
  overflow: hidden;
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-70%, 0, 0);
  }
}
h1 {
  display: inline-block;
  margin: 10px 30px 10px 30px;
  font-size: 36px;
  font-weight: 600;
}

/* discover section css */
.Discover-head .discover-h h6 {
  font-size: 42px;
  width: 70%;
}
.Discover-head .discover-p p {
  border-left: 3px solid #98e209;
  padding: 0 0px 0 30px;
}

.Discover-cont {
  background-color: rgba(230, 230, 230, 0.58);
  padding: 40px 50px 0px 40px;
  border-radius: 33px;
  margin: 50px 0;
}
.Discover-cont .Discover-main-cont h2 {
  margin: 0 0 25px 0;
}
.Discover-cont .Discover-main-cont p {
  padding: 13px 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.Discover-cont .Discover-main-cont .Discover-tabs {
  max-width: max-content;
  background-color: #fff;
  border-radius: 30px;
  padding: 6px 22px;
  margin: 0 15px 13px 0;
  text-align: center;
  transition: 0.5s;
}
.Discover-cont .Discover-main-cont .Discover-tabs:hover {
  color: #fff;
  background-color: #98e209;
  transition: 0.5s;
}
.Discover-cont .Discover-main-cont .Discover-tabs a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.Discover-cont .Discover-img img {
  max-width: 100%;
  border-radius: 30px 30px 0 0;
  height: 327px;
}

.learn-btn {
  max-width: max-content;
  position: relative;
  margin: 20px 0 0 0;
}
.learn-btn a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #98e209;
  padding: 10px 44px 11px 18px;
  border-radius: 29px;
  transition: 0.4s;
}
.learn-btn a:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  transition: 0.4s;
}
.learn-btn i {
  font-size: 38px;
  position: absolute;
  right: 4px;
  top: -14px;
}

.award-wining-section {
  padding: 70px 0;
  background-color: #000;
}
.award-wining-section .award-wining {
  padding: 50px 0;
}
.award-wining-section .award-wining .award-wining-image {
  position: relative;
}
.award-wining-section .award-wining .award-wining-image img {
  width: 100%;
  border-radius: 15px;
}
.award-wining-section .award-wining .award-wining-image .award-experience-h {
  display: flex;
  align-items: center;
  max-width: max-content;
  background-color: #98e209;
  padding: 5px 13px;
  border: 8px solid black;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}
.award-wining-section .award-wining .award-wining-image .award-experience-h h5 {
  font-size: 48px;
  margin: 0;
  padding: 1px 10px;
}
.award-wining-section .award-wining .award-wining-content {
  padding: 15px 20px;
}
.award-wining-section .award-wining .award-wining-content h5 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #fff;
}
.award-wining-section .award-wining .award-wining-content .award-list {
  display: flex;
  align-items: center;
  line-height: 2;
}
.award-wining-section .award-wining .award-wining-content .award-list i {
  color: #98e209;
  font-size: 1rem;
  padding-right: 10px;
}
.award-wining-section .award-wining .award-wining-content .award-list h6 {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}
.award-wining-section .award-wining .award-wining-content p {
  color: #fff;
}

.working-process {
  padding: 70px 0;
}
.working-process .working-heading {
  padding: 50px 0 0 0;
}
.working-process .working-heading h3 {
  font-size: 3rem;
}
.working-process .working-content {
  padding: 50px 0 0px 0;
}
.working-process .working-content .working-c-box {
  text-align: center;
  padding: 20px 45px;
}
.working-process .working-content .working-c-box i {
  background-color: #98e209;
  padding: 8px 18px;
  border-radius: 50%;
  font-size: 39px;
}
.working-process .working-content .working-c-box h6 {
  background-color: #000;
  max-width: max-content;
  padding: 2px 10px;
  border-radius: 14px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  bottom: 13px;
}
.working-process .working-content .working-c-box h3 {
  font-size: 22px;
}
.working-process .working-content .working-c-box p {
  color: rgba(24, 22, 22, 0.58);
}

.Our-Projects {
  padding: 70px 0;
  background-color: #000;
}
.Our-Projects .work-portfolio-head {
  padding: 50px 0;
}
.Our-Projects .work-portfolio-head .work-portfolio-h h4 {
  font-size: 3rem;
  max-width: 60%;
  color: #fff;
}
.Our-Projects .work-portfolio-head .Viwe-All-Projects-btn {
  display: flex;
  justify-content: end;
  align-items: end;
}
.Our-Projects .work-portfolio-content .portfolio-img-box {
  border-radius: 25px;
  background-color: #171616;
  padding: 20px 20px;
}
.Our-Projects .work-portfolio-content .portfolio-img-box img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 30vw;
  object-fit: cover;
}
.Our-Projects .work-portfolio-content .portfolio-img-box ul {
  list-style: none;
  padding: 0;
  margin: 25px 0;
  display: flex;
}
.Our-Projects .work-portfolio-content .portfolio-img-box ul a {
  text-decoration: none;
  background-color: #555252;
  padding: 10px 17px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  transition: 0.4s;
}
.Our-Projects .work-portfolio-content .portfolio-img-box ul a:hover {
  color: #000;
  background-color: #98e209;
  transition: 0.4s;
}
.Our-Projects .work-portfolio-content .portfolio-img-box h2 {
  font-size: 34px;
  color: #fff;
}
.Our-Projects .work-portfolio-content .portfolio-img-box .portfolio-icon-arrow-a, .Our-Projects .work-portfolio-content .portfolio-img-box .portfolio-icon-arrow-b {
  font-size: 55px;
  color: #98e209;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 20px;
}
.Our-Projects .work-portfolio-content .portfolio-img-box .portfolio-icon-arrow-a:hover, .Our-Projects .work-portfolio-content .portfolio-img-box .portfolio-icon-arrow-b:hover {
  transform: scale(1.1);
  transition: 0.4s;
  color: #4b4949;
}
.Our-Projects .work-portfolio-content .portfolio-img-box .portfolio-icon-arrow-b {
  color: #4b4949;
}
.Our-Projects .work-portfolio-content .portfolio-img-box .portfolio-icon-arrow-b:hover {
  color: #98e209;
}

.journey-section {
  padding: 70px 0;
}
.journey-section .journey-heading {
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
}
.journey-section .journey-heading h3 {
  font-size: 3rem;
}
.journey-section .journey-section-content {
  padding: 50px 0;
}
.journey-section .journey-section-content .journey-container {
  margin: 0 0 30px 0;
}
.journey-section .journey-section-content .journey-container .journey-img-box img {
  max-width: 100%;
}
.journey-section .journey-section-content .journey-container .journey-content-box {
  display: block;
}
.journey-section .journey-section-content .journey-container .journey-content-box h6 {
  font-size: 1rem;
  border-bottom: 1px solid #d8cccc;
  padding: 30px 0 10px 0px;
}
.journey-section .journey-section-content .journey-container .journey-content-box h5 {
  margin: 12px 0 10px 0;
  font-size: 22px;
}
.journey-section .journey-section-content .journey-container .journey-content-box p {
  max-width: 80%;
  font-size: 14px;
  color: rgba(24, 22, 22, 0.58);
  margin: 0;
}

.contect-section {
  background-color: #000;
  padding: 70px 0;
}
.contect-section .contect-heading {
  padding: 0 0 70px 0;
}
.contect-section .contect-heading .contect-h h3 {
  font-size: 3rem;
  color: #fff;
  margin: 0;
}
.contect-section .contect-heading .contect-head-img {
  float: right;
  margin: 0 10px 0 0;
}
.contect-section .contect-heading .contect-head-img img {
  max-width: 150px;
}
.contect-section .contect-content #contactForm .firstinputcss, .contect-section .contect-content #contactForm .secondinputcss {
  width: 47%;
  padding: 15px 10px;
  font-size: 18px;
  background: rgba(54, 52, 52, 0.7);
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 20px 10px 5px 2px;
  outline: none;
}
.contect-section .contect-content #contactForm .secondinputcss {
  width: 96%;
}
.contect-section .contect-content #contactForm button.form-submit-btn {
  padding: 10px 43px 10px 19px;
  margin: 20px 0 0 0;
  display: flex;
  position: relative;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  background-color: #98e209;
  color: #000;
  transition: 0.4s;
}
.contect-section .contect-content #contactForm button.form-submit-btn:hover {
  transition: 0.4s;
  color: #000;
  background-color: #fff;
}
.contect-section .contect-content #contactForm button.form-submit-btn i {
  font-size: 36px;
  position: absolute;
  top: -4px;
  right: 0;
}
.contect-section .contect-content .contect-address {
  padding: 16px 20px;
  background-color: #98e209;
  border-radius: 15px;
}
.contect-section .contect-content .contect-address h6 {
  font-size: 22px;
  margin: 0px 0 10px 0;
  color: #202020;
}
.contect-section .contect-content .contect-address p {
  margin: 0 0 50px 0;
  font-size: 1rem;
  color: rgba(24, 22, 22, 0.58);
}
.contect-section .contect-content .contect-address .contect-icon-span {
  display: inline-block;
  padding: 12px 0px 12px 0px;
  background-color: #191717;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.contect-section .contect-content .contect-address .contect-icon-span:hover {
  background-color: #98e209;
}
.contect-section .contect-content .contect-address .contect-icon-span i.contect-icon {
  font-size: 22px;
  color: #131313;
  background-color: #98e209;
  padding: 5px 8px;
  margin: 0px 10px 0px 10px;
  border-radius: 50%;
  transition: 0.4s;
}
.contect-section .contect-content .contect-address .contect-icon-span i.contect-icon:hover {
  color: #fff;
  background-color: #000;
  transition: 0.4s;
}

.testimonial-head {
  width: 47%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.testimonial-head h6 {
  padding: 0 0 0px 35px;
  position: relative;
  margin: 0 auto;
  max-width: fit-content;
}
.testimonial-head h6 .greenline {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  height: 3px;
  width: 30px;
  /* color: red; */
  background-color: #98e209;
}
.testimonial-head h3 {
  font-size: 3rem;
}

.testimonial-section {
  padding: 70px 0;
}
.testimonial-section .testimonial-slider {
  padding: 45px 30px;
  background-color: rgba(230, 230, 230, 0.58);
  margin: 35px 0 0 0;
  border-radius: 20px;
}
.testimonial-section .testimonial-slider .swiper {
  width: 100%;
  height: 100%;
}
.testimonial-section .testimonial-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-section .testimonial-slider .testimonial-slider-img-box {
  position: relative;
}
.testimonial-section .testimonial-slider .testimonial-slider-img-box .testimonial-slider-img {
  margin: 0 auto;
  text-align: center;
}
.testimonial-section .testimonial-slider .testimonial-slider-img-box .testimonial-slider-img img {
  width: 75%;
  background-color: #fff;
  border-radius: 50%;
}
.testimonial-section .testimonial-slider .testimonial-slider-img-box .image-corted-signe {
  width: 40%;
  height: 25%;
}
.testimonial-section .testimonial-slider .testimonial-slider-img-box .image-corted-signe img {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20%;
  background-color: #98e209;
  border-radius: 50%;
  border: 9px solid rgb(241, 240, 240);
}
.testimonial-section .testimonial-slider .testimonial-slider-content {
  max-width: 85%;
}
.testimonial-section .testimonial-slider .testimonial-slider-content i {
  font-size: 20px;
  margin: 0 8px 0 0;
  color: #ffb600;
}
.testimonial-section .testimonial-slider .testimonial-slider-content p {
  font-size: 1rem;
  color: rgba(24, 22, 22, 0.58);
  padding: 15px 0 0 0;
}
.testimonial-section .testimonial-slider .testimonial-slider-content h5 {
  font-size: 22px z;
}
.testimonial-section .testimonial-slider .testimonial-slider-content h6 {
  font-size: 14px;
  color: rgba(24, 22, 22, 0.58);
}
.testimonial-section .swiper-click-arrow-container {
  display: flex;
  justify-content: space-between;
  padding: 0 90px 0 90px;
  position: relative;
  bottom: 200px;
  font-size: 48px;
  z-index: 1;
}
.testimonial-section .swiper-click-arrow-container .bi-arrow-left-circle-fill {
  transition: 0.4s;
}
.testimonial-section .swiper-click-arrow-container .bi-arrow-left-circle-fill:hover {
  color: #98e209;
  transition: 0.4s;
}
.testimonial-section .swiper-click-arrow-container .bi-arrow-right-circle-fill {
  color: #98e209;
  transition: 0.4s;
}
.testimonial-section .swiper-click-arrow-container .bi-arrow-right-circle-fill:hover {
  color: #000;
  transition: 0.4s;
}

.newsblog-section {
  padding: 70px 0;
  background-color: #000;
}
.newsblog-section .newsblog-head {
  margin-bottom: 60px;
}
.newsblog-section .newsblog-head .work-portfolio-h h4 {
  color: #fff;
  font-size: 3rem;
  max-width: 60%;
}
.newsblog-section .newsblog-content .blog-image {
  position: relative;
  overflow: hidden;
}
.newsblog-section .newsblog-content .blog-image:hover .blog-image-hover-arrow {
  transform: translateY(0%) !important;
  transition: 0.4s;
}
.newsblog-section .newsblog-content .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}
.newsblog-section .newsblog-content .blog-image .blog-image-hover-arrow {
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: 0.4s;
}
.newsblog-section .newsblog-content .blog-image .blog-image-hover-arrow i {
  font-size: 50px;
  color: #202020;
  cursor: pointer;
  transition: 0.4s;
}
.newsblog-section .newsblog-content .blog-image .blog-image-hover-arrow i:hover {
  color: #98e209;
  transition: 0.4s;
}
.newsblog-section .newsblog-content .bolg-tab {
  padding: 20px 0 0 0;
}
.newsblog-section .newsblog-content .bolg-tab button {
  background-color: rgba(230, 230, 230, 0.58);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-radius: 30px;
  transition: 0.4s;
}
.newsblog-section .newsblog-content .bolg-tab button:hover {
  color: #fff;
  background-color: #98e209;
  transition: 0.4s;
}
.newsblog-section .newsblog-content h5 {
  padding: 20px 0 0 0;
  font-size: 22px;
  color: #fff;
}
.newsblog-section .newsblog-content p {
  color: #fff;
  font-size: 1rem;
  padding: 0 40px 0 0;
}
.newsblog-section .newsblog-content button.read-more {
  border: none;
  background-color: transparent;
  color: #98e209;
  border-bottom: 2px solid #98e209;
  margin: 0;
  font-size: 1rem;
  transition: 0.4s;
}
.newsblog-section .newsblog-content button.read-more:hover {
  background-color: #98e209;
  border-radius: 30px;
  color: #fff;
  transition: 0.4s;
}

.question-section {
  padding: 70px 0;
}
.question-section #accordion-item {
  border: 2px solid gray !important;
  margin: 0 0 15px 0;
}

footer {
  background-color: #000;
}
footer .footer-head {
  border-bottom: 1px solid gray;
  padding: 45px 0px 45px 0;
}
footer .footer-head h4 {
  font-size: 3rem;
  margin: 0;
}
footer .footer-content {
  border-bottom: 1px solid gray;
  padding: 30px 0 30px 0;
}
footer .footer-content .footer-service h4 {
  position: relative;
  font-size: 22px;
  color: #fff;
  z-index: 200;
  padding: 4px 0 0 27px;
}
footer .footer-content .footer-service img {
  position: absolute;
  width: 50px;
  height: 31px;
  left: -14px;
  top: 0px;
  z-index: -100;
}
footer .footer-content .footer-service p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 20px 47px 10px 0;
  color: rgba(230, 230, 230, 0.58);
}
footer .footer-content .footer-service .footer-icon {
  font-size: 22px;
  color: #98e209;
  margin: 0 6px 0 0;
}
footer .footer-content .footer-service .footer-icon:hover {
  color: #f0cbcb;
}
footer .footer-content .footer-navigation h5 {
  font-size: 22px;
  color: #98e209;
  margin: 0;
}
footer .footer-content .footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 22px 0px 0 0;
}
footer .footer-content .footer-navigation ul li {
  line-height: 3;
}
footer .footer-content .footer-navigation ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(230, 230, 230, 0.58);
}
footer .footer-content .footer-navigation ul li a:hover {
  color: #d8cccc;
}
footer .footer-content .footer-navigation address .footer-address h5 {
  font-size: 14px !important;
  color: rgba(230, 230, 230, 0.58) !important;
  margin: 0 !important;
  padding: 14px 0 0 0 !important;
}
footer .footer-content .footer-email h5 {
  color: #98e209;
  font-size: 22px;
}
footer .footer-content .footer-email #footer-email {
  position: relative;
  margin: 40px 0 0 0;
}
footer .footer-content .footer-email #footer-email .footer-email-input {
  background-color: rgba(51, 49, 49, 0.6705882353);
  padding: 5px 11px;
  width: 80%;
  border-radius: 15px;
  color: #fff;
  border: none;
  outline: none;
}
footer .footer-content .footer-email #footer-email .footer-send-icon {
  cursor: pointer;
  padding: 0px 9px;
  right: 38px;
  right: 56px;
  position: absolute;
  top: 0px;
  font-size: 22px;
  color: #fff;
  background-color: #98e209;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.4s;
}
footer .footer-content .footer-email #footer-email .footer-send-icon:hover {
  color: #98e209;
  background-color: #fff;
  transition: 0.4s;
}
footer .copyright h5 {
  font-size: 14px;
  margin: 0;
  padding: 14px 0;
}

section.bradcome {
  padding: 70px 0;
  background: #000;
  text-align: center;
}
section.bradcome .bradcome-content h5 {
  font-size: 3rem;
  color: #fff;
}
section.bradcome .bradcome-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
section.bradcome .bradcome-content ul li {
  list-style: none;
}
section.bradcome .bradcome-content ul li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 1rem;
}
section.bradcome .bradcome-content ul li a:hover {
  color: #98e209;
}

section#about-award-wining-section {
  background-color: #ffffff;
}
section#about-award-wining-section #about-award-wining-content h5 {
  color: #000 !important;
}
section#about-award-wining-section #about-award-wining-content h6 {
  font-size: 22px;
  font-weight: 400;
  color: rgba(24, 22, 22, 0.58) !important;
}
section#about-award-wining-section #about-award-wining-content p {
  color: rgba(24, 22, 22, 0.58) !important;
}

#aboutus-hero-section {
  background-color: white;
  padding: 70px 0;
}
#aboutus-hero-section div#about-reviwe-img {
  left: 0 !important;
  margin: 0 0 0 10px;
}
#aboutus-hero-section #about-count-box {
  display: flex !important;
  justify-content: space-around !important;
  background-color: rgba(245, 240, 240, 0.6117647059) !important;
  padding: 210px 4px 50px 130px !important;
  margin: -180px 0 0 0 !important;
}

.about-working-process {
  padding: 0 0 70px 0 !important;
}

.newsblog-section .about-section-work-portfolio-h h4 {
  max-width: 80% !important;
}
.newsblog-section .about-team-member-content {
  text-align: center;
}
.newsblog-section .about-team-member-content .about-team-member-icon {
  margin: 0 7px;
}
.newsblog-section .about-team-member-content p {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  padding: 0;
}

.discover-section .service-section-discover-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.discover-section .service-section-discover-head .service-section-discover-h h6 {
  width: 100% !important;
}
.discover-section .service-section-discover-head .service-section-discover-h p {
  padding: 0 !important;
  border-left: none !important;
  font-size: 20px;
  width: 70%;
  color: rgba(24, 22, 22, 0.58);
  margin: 0 auto;
  text-align: center;
}

.contectus-page-section {
  background-color: white !important;
}
.contectus-page-section .contect-heading {
  padding: 0 0 35px 0;
}
.contectus-page-section .contect-heading .contect-h-contect-section h3 {
  color: black !important;
}
.contectus-page-section .contect-content input#firstName,
.contectus-page-section .contect-content #lastName,
.contectus-page-section .contect-content #email,
.contectus-page-section .contect-content #phone,
.contectus-page-section .contect-content #subject,
.contectus-page-section .contect-content #message {
  background-color: #dfdfdf !important;
  color: #000 !important;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  height: 400px;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.project-page {
  background-color: #fff !important;
}
.project-page .project-page-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-page .project-page-head #project-page-work-portfolio-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.project-page .project-page-head #project-page-work-portfolio-h h4 {
  width: 100% !important;
  color: #000;
}
.project-page .project-page-portfolio-img-box {
  background-color: #d9d9d9 !important;
  margin-bottom: 30px !important;
}
.project-page .project-page-portfolio-img-box ul li a {
  background-color: #98e209 !important;
  color: #131313 !important;
}
.project-page .project-page-portfolio-img-box ul li a:hover {
  background-color: rgba(24, 22, 22, 0.58) !important;
  color: #fff !important;
}
.project-page .project-page-portfolio-img-box h2 {
  color: #000 !important;
}

@media screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Figtree", serif;
    font-weight: 500;
  }
  body {
    font-family: "Afacad", serif;
    font-weight: 400;
  }
  .mnav {
    display: block;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  .mnav .mnav-brand {
    display: flex;
    align-items: center;
  }
  .mnav .mnav-brand img {
    width: 76px;
    height: 60px;
  }
  .toggle-i {
    color: #fff;
    background-color: #98e209;
    font-size: 16px;
    cursor: pointer;
    display: block !important;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }
}
.hero-section {
  padding: 30px 0;
}

/*# sourceMappingURL=style.css.map */
