$ft-16: 1rem;
$ft-14: 14px;
$ft-48: 3rem;
$ft-22: 22px;
$ft-26: 1.7rem;

$heading-a-width: 70%;
$heading-b-width: 70%;
$g-color: #98e209;
$w-color: #fff;
$lg-color: rgba(230, 230, 230, 0.58);
$gray-color: rgba(24, 22, 22, 0.58);
$b-color: #000;
$light-black-color: #202020;


$lb-color: #131313;
$section-padding: 70px 0;
$primary-font: "Figtree", serif;
$secondary-font: "Afacad", serif;


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: 700;
}

body {
    font-family: $secondary-font;
    font-weight: 500;
}


.text-green {
    color: $g-color;
}

.padding {
    padding: 70px 0px;
}

// 
.award-div {
    position: relative;

    h6 {
        font-size: 18px;
        color: #fff;
        margin: 0 0 15px 0;
        padding: 0 0 0px 40px;
        font-size: 16px;

        .line-b-content {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            height: 3px;
            width: 32px;
            background-color: $g-color;
            z-index: 1;
        }
    }

}

// 

/*mnav css*/
.mnav {
    display: none;

    .toggle-i {
        display: none;
    }

    .closeicon {
        display: none;
    }
}

/*  */
//add class
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//
//sticky navbar css
.stickynav {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1111;
    transition: 0.5s;
    background-color: $g-color;
    width: 100%;


    .navbar {


        .navbar-brand {
            position: relative;

            img {
                box-shadow: none;
                z-index: 1;
            }

            h6 {
                position: absolute;
                left: 36px;
                top: 15px;
                z-index: -1;
                font-size: 22px;
                color: $b-color !important;
            }
        }

        .nav-tag {

            ul {


                i#closeicon {}

                li {


                    a {

                        color: $b-color;

                        &:hover {
                            background-color: $b-color !important;
                            color: $g-color !important;
                            transition: 0.5s;
                        }
                    }
                }
            }

        }


        .navbutton {
            button {
                background-color: $b-color !important;
                color: $w-color !important;

                &:hover {
                    color: $g-color !important;
                    background-color: $b-color !important;
                    transition: 0.5s;
                }
            }
        }
    }

}

//
nav {
    background-color: $b-color;
    border-bottom: 2px solid #292828;
    transition: 0.5s;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            position: relative;

            img {
                width: 45px;
                height: 38px;
                border-radius: 100%;

                margin: 0 5px 0 0px;
                z-index: 11;
            }

            h6 {
                position: absolute;
                left: 36px;
                top: 16px;
                z-index: 1;
                font-size: 22px;
                color: #fff;
            }
        }

        .nav-tag {

            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                i#closeicon {
                    display: none;
                }

                li {
                    list-style: none;

                    a {
                        color: $w-color;
                        text-decoration: none;
                        padding: 23px 15px;
                        transition: 0.5s;

                        &:hover {
                            background-color: $g-color;
                            color: $b-color;
                            transition: 0.5s;
                        }
                    }
                }
            }

        }
    }

    .navbutton {
        button {
            color: $w-color;
            background-color: $g-color;
            padding: 5px 15px;
            border-radius: 20px;
            transition: 0.5s;

            &:hover {
                color: $g-color;
                background-color: $w-color;
                transition: 0.5s;
            }
        }
    }
}

.hero-section {
    background-color: $b-color;
    height: auto;
    width: 100%;
    padding: $section-padding;


    .meet {
        h2 {
            font-size: $ft-48;
            width: 53%;
            color: $w-color;
            margin: 0;
        }

        img {
            width: 150px;
            height: 100px;
            margin: 0 20px 0 0;
        }
    }

    .hero-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            margin: 6px 3px 0 3px;
            text-decoration: none;
            color: #d8d3d3;
            border-left: 1px solid #fffcfc;
            border-right: 1px solid #fffdfd;
            border-radius: 30px;
            padding: 6px 22px;
            background-color: #242222;
            transition: 0.5s;

            h6 {
                font-size: $ft-16;
                margin: 0;
            }

            &:hover {
                background-color: $g-color;
                color: $b-color;
                transition: 0.5s;
            }
        }
    }

    .hero-tabs-right-cont {
        padding: 0px 0 0 140px;
        border-left: 1px $g-color;
    }

    .herobanner-box-img-div {
        position: relative;

        img {
            width: 100%;
            padding: 0 10px;
            border-radius: 35px;
        }

        img.star-image-hero-bennar-a {
            width: 15%;
            height: 23%;
            position: absolute;
            top: 56px;
            left: -50px;
        }

        img.star-image-hero-bennar-b {
            width: 11%;
            height: 14%;
            position: absolute;
            top: 20px;
            left: -85px
        }

        img.star-image-hero-bennar-c {
            width: 8%;
            height: 9%;
            position: absolute;
            top: 130px;
            left: -73px;
        }
    }

    /* hero img reviwe box css */
    .reviwe-img {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $g-color;
        padding: 22px 0px;
        border: 8px solid $b-color;
        color: $w-color;
        border-radius: 20px;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 250px;

        img {
            width: 20%;
            border-radius: 30px;
            padding: 0px 0px 0px 0px;
            height: 17%;
            margin: -12px;
        }

        h6.reviwe-content {
            padding: 0 20px;

            p {
                font-size: $ft-14;
            }
        }
    }

    /* count box css */
    .count-box {
        background-color: $g-color;
        color: $b-color;
        padding: 46px 46px;
        border-radius: 35px;

        .count-1 {
            padding: 8px 0;

            h6 {
                font-size: 2rem;
            }

            p {
                font-size: $ft-16;
            }
        }
    }
}

/* marque css */


.marquee_container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: $g-color;
    padding: 0.2rem 0rem;
}

.marquee {
    display: inline-block;
    animation: marquee 24s linear infinite;
    overflow: hidden;
}

@keyframes marquee {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-70%, 0, 0);
    }
}

h1 {
    display: inline-block;
    margin: 10px 30px 10px 30px;
    font-size: 36px;
    font-weight: 600;
}


/* discover section css */

.Discover-head {



    .discover-h {
        h6 {
            font-size: 42px;
            width: $heading-b-width;
        }
    }

    .discover-p {
        p {
            border-left: 3px solid $g-color;
            padding: 0 0px 0 30px;
        }
    }
}



.Discover-cont {
    background-color: $lg-color;
    padding: 40px 50px 0px 40px;
    border-radius: 33px;
    margin: 50px 0;


    .Discover-main-cont {

        h2 {
            margin: 0 0 25px 0;
        }

        p {
            padding: 13px 0;
            color: $b-color;
            font-size: $ft-14;
            font-weight: 400;
        }

        .Discover-tabs {
            max-width: max-content;
            background-color: $w-color;
            border-radius: 30px;
            padding: 6px 22px;
            margin: 0 15px 13px 0;
            text-align: center;
            transition: 0.5s;

            &:hover {
                color: $w-color;
                background-color: $g-color;
                transition: 0.5s;
            }


            a {
                text-decoration: none;
                color: $b-color;
                font-weight: 500;

            }
        }
    }

    .Discover-img {

        img {
            max-width: 100%;
            border-radius: 30px 30px 0 0;
            height: 327px;
            // display: none;
        }
    }

}

// learn more button
.learn-btn {

    max-width: max-content;
    position: relative;
    margin: 20px 0 0 0;

    a {
        text-decoration: none;
        font-size: 18px;
        color: $w-color;
        background-color: $g-color;
        padding: 10px 44px 11px 18px;
        border-radius: 29px;
        transition: 0.4s;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: #000;
            transition: 0.4s;
        }

    }

    i {
        font-size: 38px;
        position: absolute;
        right: 4px;
        top: -14px;
    }
}

//

//award wining section

.award-wining-section {

    padding: $section-padding;
    background-color: $b-color;

    .award-wining {
        padding: 50px 0;


        .award-wining-image {

            position: relative;

            img {
                width: 100%;
                border-radius: 15px;
            }

            .award-experience-h {
                display: flex;
                align-items: center;
                max-width: max-content;
                background-color: $g-color;
                padding: 5px 13px;
                border: 8px solid black;
                border-radius: 10px;
                position: absolute;
                bottom: 0;

                h5 {
                    font-size: $ft-48;
                    margin: 0;
                    padding: 1px 10px;
                }
            }
        }

        .award-wining-content {

            padding: 15px 20px;

            h5 {
                font-size: $ft-48;
                margin-bottom: 15px;
                color: $w-color;

            }

            .award-list {

                display: flex;
                align-items: center;
                line-height: 2;

                i {
                    color: $g-color;
                    font-size: $ft-16;
                    padding-right: 10px;
                }

                h6 {
                    color: $w-color;
                    font-size: $ft-16;
                    margin: 0;
                }
            }

            p {
                color: $w-color;
            }
        }
    }

}

//Working section css
.working-process {
    padding: $section-padding;

    .working-heading {

        padding: 50px 0 0 0;

        h3 {
            font-size: $ft-48;
        }
    }

    .working-content {

        padding: 50px 0 0px 0;

        .working-c-box {
            text-align: center;
            padding: 20px 45px;

            i {
                background-color: $g-color;
                padding: 8px 18px;
                border-radius: 50%;
                font-size: 39px;
            }

            h6 {
                background-color: $b-color;
                max-width: max-content;
                padding: 2px 10px;
                border-radius: 14px;
                color: $w-color;
                font-weight: 300;
                font-size: 14px;
                position: relative;
                bottom: 13px;
            }

            h3 {
                font-size: $ft-22;
            }

            p {
                color: $gray-color;
            }
        }
    }
}

// work portfolio section
.Our-Projects {
    padding: $section-padding;
    background-color: $b-color;

    .work-portfolio-head {
        padding: 50px 0;


        .work-portfolio-h {

            h4 {
                font-size: $ft-48;
                max-width: 60%;
                color: $w-color;
            }
        }

        .Viwe-All-Projects-btn {
            display: flex;
            justify-content: end;
            align-items: end;
        }
    }

    .work-portfolio-content {

        .portfolio-img-box {
            border-radius: 25px;
            background-color: #171616;
            padding: 20px 20px;

            img {
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 30vw;
                object-fit: cover;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 25px 0;
                display: flex;

                a {
                    text-decoration: none;
                    background-color: #555252;
                    padding: 10px 17px;
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                    border-radius: 30px;
                    color: #fff;
                    transition: 0.4s;

                    &:hover {
                        color: $b-color;
                        background-color: $g-color;
                        transition: 0.4s;

                    }
                }
            }



            h2 {
                font-size: 34px;
                color: #fff;
                // max-width:$heading-a-width;
            }

            .portfolio-icon-arrow-a {
                font-size: 55px;
                color: $g-color;
                cursor: pointer;
                transition: 0.4s;
                margin-right: 20px;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.4s;
                    color: #4b4949;
                }
            }

            .portfolio-icon-arrow-b {
                @extend .portfolio-icon-arrow-a;
                color: #4b4949;

                &:hover {
                    color: $g-color;
                }
            }
        }

    }
}

// journey-section
.journey-section {
    padding: $section-padding;

    .journey-heading {
        text-align: center;
        margin: 0 auto;
        max-width: 50%;

        h3 {
            font-size: $ft-48;
        }
    }

    .journey-section-content {
        padding: 50px 0;

        .journey-container {
            margin: 0 0 30px 0;

            .journey-img-box {

                img {
                    max-width: 100%;
                }

            }

            .journey-content-box {

                display: block;

                h6 {
                    font-size: $ft-16;
                    border-bottom: 1px solid #d8cccc;
                    padding: 30px 0 10px 0px;
                }

                h5 {
                    margin: 12px 0 10px 0;
                    font-size: $ft-22;
                }

                p {
                    max-width: 80%;
                    font-size: $ft-14;
                    color: $gray-color;
                    margin: 0;
                }
            }
        }
    }
}

//contect section css

.contect-section {
    background-color: $b-color;
    padding: $section-padding;

    .contect-heading {
        padding: 0 0 70px 0;

        .contect-h {

            h3 {
                font-size: $ft-48;
                color: #fff;
                margin: 0;
            }

        }

        .contect-head-img {

            float: right;
            margin: 0 10px 0 0;

            img {
                max-width: 150px;
            }

        }
    }

    .contect-content {

        #contactForm {

            .firstinputcss {
                width: 47%;
                padding: 15px 10px;
                font-size: 18px;
                background: rgb(54 52 52 / 70%);
                border: none;
                border-radius: 10px;
                color: #fff;
                margin: 20px 10px 5px 2px;
                outline: none;
            }

            .secondinputcss {
                @extend .firstinputcss;
                width: 96%;
            }

            button.form-submit-btn {
                padding: 10px 43px 10px 19px;
                margin: 20px 0 0 0;
                display: flex;
                position: relative;
                border: none;
                border-radius: 30px;
                font-size: $ft-16;
                background-color: $g-color;
                color: $b-color;
                transition: 0.4s;

                &:hover {
                    transition: 0.4s;
                    color: $b-color;
                    background-color: $w-color;
                }

                i {
                    font-size: 36px;
                    position: absolute;
                    top: -4px;
                    right: 0;
                }
            }
        }

        .contect-address {
            padding: 16px 20px;
            background-color: $g-color;
            border-radius: 15px;

            h6 {
                font-size: $ft-22;
                margin: 0px 0 10px 0;
                color: $light-black-color;
            }

            p {
                margin: 0 0 50px 0;
                font-size: $ft-16;
                color: $gray-color;
            }

            .contect-icon-span {
                display: inline-block;
                padding: 12px 0px 12px 0px;
                background-color: #191717;
                border-radius: 50%;
                margin: 0 5px 0 0;

                &:hover {
                    background-color: $g-color;
                }

                i.contect-icon {
                    font-size: 22px;
                    color: $lb-color;
                    background-color: $g-color;
                    padding: 5px 8px;
                    margin: 0px 10px 0px 10px;
                    border-radius: 50%;
                    transition: 0.4s;

                    &:hover {

                        color: $w-color;
                        background-color: $b-color;
                        transition: 0.4s;
                    }
                }

            }


        }

    }

}

// green line
.testimonial-head {
    width: 47%;
    margin: 0 auto;
    position: relative;
    text-align: center;

    h6 {
        padding: 0 0 0px 35px;
        position: relative;
        margin: 0 auto;
        max-width: fit-content;

        .greenline {
            content: "";
            position: absolute;
            top: 8px;
            left: 0px;
            height: 3px;
            width: 30px;
            /* color: red; */
            background-color: $g-color;
        }

    }

    h3 {
        font-size: $ft-48;
    }
}



// testimonial-section"
.testimonial-section {
    padding: $section-padding;



    .testimonial-slider {
        padding: 45px 30px;
        background-color: $lg-color;
        margin: 35px 0 0 0;
        border-radius: 20px;

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .testimonial-slider-img-box {
            position: relative;

            .testimonial-slider-img {
                margin: 0 auto;
                text-align: center;

                img {
                    width: 75%;
                    background-color: $w-color;
                    border-radius: 50%;
                }
            }

            .image-corted-signe {
                width: 40%;
                height: 25%;

                img {
                    position: absolute;
                    top: 10px;
                    right: 30px;
                    width: 20%;
                    background-color: $g-color;
                    border-radius: 50%;
                    border: 9px solid rgb(241 240 240);
                }
            }

        }

        .testimonial-slider-content {
            max-width: 85%;

            i {
                font-size: 20px;
                margin: 0 8px 0 0;
                color: #ffb600;
            }

            p {
                font-size: $ft-16;
                color: $gray-color;
                padding: 15px 0 0 0;
            }

            h5 {
                font-size: $ft-22 z;
            }

            h6 {
                font-size: $ft-14;
                color: $gray-color;

            }
        }
    }

    .swiper-click-arrow-container {
        display: flex;
        justify-content: space-between;
        padding: 0 90px 0 90px;
        position: relative;
        bottom: 200px;
        font-size: $ft-48;
        z-index: 1;

        .bi-arrow-left-circle-fill {
            transition: .4s;

            &:hover {
                color: $g-color;
                transition: .4s;
            }
        }

        .bi-arrow-right-circle-fill {
            color: $g-color;
            transition: .4s;

            &:hover {
                color: $b-color;
                transition: .4s;
            }
        }
    }
}

.newsblog-section {
    padding: $section-padding;
    background-color: $b-color;

    .newsblog-head {

        margin-bottom: 60px;

        .work-portfolio-h {
            h4 {
                color: $w-color;
                font-size: $ft-48;
                max-width: 60%;
            }
        }
    }

    .newsblog-content {

        // &:hover .blog-image-hover-arrow{
        //     transform: translateY(0) !important; 
        // }

        .blog-image {
            position: relative;
            overflow: hidden;

            &:hover .blog-image-hover-arrow {
                transform: translateY(0%) !important;
                transition: 0.4s;
            }

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 16px;
            }

            .blog-image-hover-arrow {
                position: absolute;
                top: 0;
                content: "";
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                transform: translateY(100%);
                transition: 0.4s;

                i {
                    font-size: 30px;
                    color: $light-black-color;
                    cursor: pointer;
                    transition: 0.4s;

                    &:hover {
                        color: $g-color;
                        transition: 0.4s;
                    }
                }

            }
        }

        .bolg-tab {
            padding: 20px 0 0 0;

            button {
                background-color: $lg-color;
                border-left: 1px solid $w-color;
                border-right: 1px solid $w-color;
                border-top: none;
                border-bottom: none;
                color: $w-color;
                padding: 5px 15px 5px 15px;
                border-radius: 30px;
                transition: 0.4s;

                &:hover {
                    color: $w-color;
                    background-color: $g-color;
                    transition: 0.4s;

                }
            }
        }

        h5 {
            padding: 20px 0 0 0;
            font-size: 22px;
            color: #fff;
        }

        p {
            color: $w-color;
            font-size: $ft-16;
            padding: 0 40px 0 0;
        }

        button.read-more {
            border: none;
            background-color: transparent;
            color: $g-color;
            border-bottom: 2px solid $g-color;
            margin: 0;
            font-size: $ft-16;
            transition: 0.4s;

            &:hover {
                background-color: #98e209;
                border-radius: 30px;
                color: $w-color;
                transition: 0.4s;
            }
        }
    }
}

// question-section
.question-section {
    padding: $section-padding;

    #accordion-item {
        border: 2px solid gray !important;
        margin: 0 0 15px 0;


    }



}

footer {
    // padding: $section-padding;
    background-color: $b-color;

    .footer-head {
        border-bottom: 1px solid gray;
        padding: 45px 0px 45px 0;

        h4 {
            font-size: $ft-48;
            margin: 0;
        }
    }

    .footer-content {
        border-bottom: 1px solid gray;
        padding: 30px 0 30px 0;

        .footer-service {

            h4 {
                position: relative;
                font-size: $ft-22;
                color: $w-color;
                z-index: 200;
                padding: 4px 0 0 27px;
            }

            img {
                position: absolute;
                width: 50px;
                height: 31px;
                left: -14px;
                top: 0px;
                z-index: -100;
            }

            p {
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: $ft-16;
                padding: 20px 47px 10px 0;
                color: $lg-color;
            }

            .footer-icon {
                font-size: 22px;
                color: $g-color;
                margin: 0 6px 0 0;

                &:hover {
                    color: #f0cbcb;
                }
            }
        }

        .footer-navigation {

            h5 {
                font-size: $ft-22;
                color: $g-color;
                margin: 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 22px 0px 0 0;

                li {
                    line-height: 3;

                    a {
                        text-decoration: none;
                        font-size: $ft-16;
                        color: $lg-color;

                        &:hover {
                            color: #d8cccc;
                        }
                    }
                }
            }

            address {

                .footer-address {

                    h5 {
                        font-size: $ft-14 !important;
                        color: $lg-color !important;
                        margin: 0 !important;
                        padding: 14px 0 0 0 !important;
                    }
                }
            }

        }

        .footer-email {

            h5 {
                color: $g-color;
                font-size: $ft-22;
            }

            #footer-email {
                position: relative;
                margin: 40px 0 0 0;

                .footer-email-input {
                    background-color: #333131ab;
                    padding: 5px 11px;
                    width: 80%;
                    border-radius: 15px;
                    color: #fff;
                    border: none;
                    outline: none;
                }

                .footer-send-icon {
                    cursor: pointer;
                    padding: 0px 9px;
                    right: 38px;
                    right: 56px;
                    position: absolute;
                    top: 0px;
                    font-size: 22px;
                    color: $w-color;
                    background-color: $g-color;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    transition: 0.4s;

                    &:hover {
                        color: $g-color;
                        background-color: $w-color;
                        transition: 0.4s;
                    }
                }
            }

        }
    }

    .copyright {

        h5 {
            font-size: $ft-14;
            margin: 0;
            padding: 14px 0;
        }
    }

}

// about us landing page css start now

section.bradcome {
    padding: $section-padding;
    background: $b-color;
    text-align: center;

    .bradcome-content {

        h5 {
            font-size: $ft-48;
            color: $w-color;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    padding: 5px 10px;
                    color: $w-color;
                    font-size: $ft-16;

                    &:hover {
                        color: $g-color;
                    }
                }
            }
        }
    }
}

// about us award wining section css
section#about-award-wining-section {
    background-color: #ffffff;

    #about-award-wining-content {
        h5 {
            color: $b-color !important;
        }

        h6 {
            font-size: $ft-22;
            font-weight: 400;
            color: $gray-color !important;
        }

        p {
            color: $gray-color !important;
        }
    }


}

// section#aboutus-hero-section 
#aboutus-hero-section {
    background-color: white;
    padding: $section-padding;

    div#about-reviwe-img {
        left: 0 !important;
        margin: 0 0 0 10px;
    }

    #about-count-box {
        display: flex !important;
        justify-content: space-around !important;
        background-color: #f5f0f09c !important;
        padding: 210px 4px 50px 130px !important;
        margin: -180px 0 0 0 !important;
    }
}

//.about-working-process css start now

.about-working-process {
    padding: 0 0 70px 0 !important;
}

// 

// Team member section css 
.newsblog-section {
    .about-section-work-portfolio-h {
        h4 {
            max-width: 80% !important;
        }
    }

    .about-team-member-content {

        .about-team-member-icon {
            margin: 0 7px;
        }

        text-align: center;

        p {
            font-size: 18px;
            font-weight: 100;
            color: $w-color;
            padding: 0;
        }
    }
}

// 

//service page css start now
.discover-section {

    .service-section-discover-head {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .service-section-discover-h {

            h6 {
                width: 100% !important;
            }
        }

        .service-section-discover-h {

            p {
                padding: 0 !important;
                border-left: none !important;
                font-size: 20px;
                width: 70%;
                color: $gray-color;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

}


//contect us section css start now

.contectus-page-section {
    background-color: white !important;

    .contect-heading {
        padding: 0 0 35px 0;

        .contect-h-contect-section {
            h3 {
                color: black !important;
            }
        }
    }

    .contect-content {

        input#firstName,
        #lastName,
        #email,
        #phone,
        #subject,
        #message {
            background-color: #dfdfdf !important;
            color: $b-color !important;
        }

    }
}

//contect  map  css
.responsive-map {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    height: 400px;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

// project section css start now
.project-page {
    background-color: #fff !important;

    .project-page-head {
        display: flex;
        justify-content: center;
        align-items: center;

        #project-page-work-portfolio-h {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            h4 {
                width: 100% !important;
                color: $b-color;
            }
        }
    }

    .project-page-portfolio-img-box {
        background-color: #d9d9d9 !important;
        margin-bottom: 30px !important;

        ul {
            li {
                a {
                    background-color: $g-color !important;
                    color: $lb-color !important;

                    &:hover {
                        background-color: $gray-color !important;
                        color: $w-color !important;
                    }
                }
            }
        }

        h2 {
            color: $b-color !important;
        }
    }
}














@media (max-width: 767px) {

    /*mnav css*/
    .mnav {
        display: block;
        background-color: $b-color;
        position: relative;
        z-index: 1111111111;

        .mnav-brand {
            img {
                width: 23%;
                height: 33%;
            }

            h6 {
                position: absolute;
                left: 64px;
                top: 16px;
                font-size: $ft-16;
            }
        }

        .toggle-i {
            display: block;
            background: #2eff2e;
            border: none;
            border-radius: 5px;

            #toggleicon {
                color: #fff;
            }
        }


    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .stickynav {
    //     position: sticky;
    //     left: 0 !important;
    //     top: 0 !important;
    //     z-index: 1111;
    //     transition: 0.5s;
    //     background-color: $g-color;
    //     width: 100%;
    // }   
    
   //sticky navbar css
.stickynav {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1111;
    transition: 0.5s;
    background-color: $b-color;
    width: 100%;

    .navbar {
        .navbutton {
            button {
                background-color: $g-color !important;
                color: $w-color !important;

                &:hover {
                    color: $b-color !important;
                    background-color: $w-color !important;
                    transition: 0.5s;
                }
            }
        }
    }


}

    nav {
        position: fixed !important;
        background-color: #000;
        width: 100% ;
        z-index: 111111;
        top: 40px !important;
        transition: 0.8s;
        transform: translateX(-100%);

        .navbar {
            flex-direction: column;

            .navbar-brand {
                display: none;
            }

            .nav-tag {
                width: 100%;

                ul {
                    flex-direction: column;
                    position: relative;

                    .closeicon {
                        position: absolute !important;
                        right: 20px !important;
                        top: 10px !important;

                        #closeicon {
                            display: block !important;
                            font-size: 20px !important;
                            color: $g-color !important;

                        }
                    }

                    li {
                        width: 100%;
                        text-align: center;
                        line-height: 2;

                        a {
                            color: #fff !important;
                            text-decoration: none;
                            padding: 12px 19px;
                            transition: 0.5s;
                            line-height: 3;
                        }
                    }
                }
            }

        }
    }

    .transformnone {
        transform: translateX(0);
        transition: 0.8s;
    }

    .padding {
        padding: 30px 0;
    }

    .hero-section {
        .award-div {

            h6 {
                font-size: $ft-14;
                font-weight: 300;
                margin-bottom: 30px;
            }
        }

        .meet {
            h2 {
                font-size: $ft-26;
                width: 100%;
            }

            img {
                width: 131px;
                height: 91px;
                margin: 0 0px 0 0;
            }
        }

        .hero-tabs {
            justify-content: start;
            margin: 6px 50px 8px 3px;

            a {
                h6 {
                    font-size: $ft-14;
                    font-weight: 400;
                }
            }
        }

        .hero-tabs-right-cont {
            padding-left: 0;

            p {
                font-size: $ft-14;
                font-weight: 300;
            }
        }

        .reviwe-img {
            padding: 10px 0px;
            border: 5px solid #000;
            border-radius: 0px;
            left: 8px;

            img {
                margin: -12px -20px -17px 0px !important;
            }

            .reviwe-content {
                h6 {
                    font-size: $ft-16 !important;
                    font-weight: 400 !important;
                }

                p {
                    font-size: 14px;
                    font-weight: 200;
                }
            }
        }

        .count-box {
            padding: 0px;
            text-align: center;
            margin-top: 20px;


            .count-1 {
                h6 {
                    font-size: $ft-26;
                }
            }
        }


    }

    #aboutus-hero-section {
        #about-count-box {
            display: flex !important;
            justify-content: space-around !important;
            background-color: rgba(245, 240, 240, 0.6117647059) !important;
            padding: 100px 4px 5px 5px !important;
            margin: -100px 0 0 0 !important;
            flex-direction: column !important;

            .count-box {
                .count-1 h6 {
                    font-size: 1.2rem !important;
                }
            }
        }

    }

    //marquee
    .marquee_container {
        padding: 4px 0 0px 0;

        h1 {
            font-size: 14px;
            margin: 5px 30px 0px 30px;
            font-weight: 400;
        }
    }

    // discover section queary
    .discover-section {
        .Discover-head {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .award-div {
                h6 {
                    font-size: $ft-14;
                    font-weight: 400;
                }
            }

            .discover-h {
                h6 {
                    font-size: $ft-26;
                    width: 100%;
                    text-align: center;
                }
            }

            .discover-p {
                p {
                    text-align: center;
                    border-left: none;
                    padding-top: 15px;
                }
            }
        }

        .Discover-cont {
            padding: 30px 10px 30px 20px;
            margin: 20px 0;

            .Discover-main-cont {

                p {
                    padding: 6px 0 0 0;
                }

                .Discover-tabs {
                    padding: 5px 19px;
                    margin: 0 10px 9px 0;

                    a {
                        font-weight: 400;
                    }
                }
            }

            .Discover-img {
                img {
                    border-radius: 30px 30px 30px 30px;
                    height: 230px;
                }
            }

            .learn-btn {
                a {
                    font-size: $ft-16;
                    padding: 10px 44px 11px 18px;
                }

                i {
                    font-size: 36px;
                }
            }
        }
    }

    //award-wining-section
    .award-wining-section {
        padding: 0px;

        .award-wining {


            .award-wining-image {
                .award-experience-h {
                    padding: 0px 5px;
                    border: 5px solid black;

                    h5 {
                        font-size: 2rem;

                        .award-experience-p {
                            h2 {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }

            .award-wining-content {
                h6 {
                    font-size: $ft-14 !important;

                }

                h5 {
                    font-size: 1.7rem;
                    margin-bottom: 20px;
                    color: #fff;
                }

                p {
                    font-weight: 400;
                    font-size: $ft-14;

                }

                .award-list {
                    h6 {
                        font-weight: 400;
                        font-size: $ft-14 !important;
                    }
                }
            }
        }
    }

    .award-div {
        h6 {
            font-size: 14px;
            font-weight: 400;
        }
    }

    //working-process query
    .working-process {
        .working-heading {
            padding: 0px 0 0 0;

            h3 {
                font-size: 1.7rem;
            }
        }

        .working-content {
            padding: 20px 0 0 0;

            .working-c-box {
                padding: 20px 25px;
            }
        }
    }

    //Our-Projects query
    .Our-Projects {

        .work-portfolio-head {
            padding: 0 0 30px 0;

            .work-portfolio-h {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 {
                    font-size: 1.7rem;
                    max-width: 100%;
                }
            }

            .Viwe-All-Projects-btn {
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
            }
        }

        .work-portfolio-content {
            .portfolio-img-box {
                margin: 2px 0 30px 0;

                img {
                    height: 250px;
                }

                ul {
                    flex-wrap: wrap;
                    margin: 5px 0;

                    li {
                        margin: 15px 8px;
                    }
                }

                h2 {
                    font-size: $ft-16;
                }

                .portfolio-icon-arrow-a {
                    font-size: 36px;
                    margin-right: 0px;
                }
            }
        }
    }

    //journey-section query
    .journey-section {

        .testimonial-head {
            width: 100%;

            h3 {
                font-size: 1.7rem;
                margin-top: 10px;
            }
        }

        .journey-section-content {

            padding: 50px 0 0 0;

            .journey-container {
                text-align: center;
                border: 1px solid gray;
                padding: 10px 10px;

                .journey-content-box {
                    p {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    //contect-section query

    .contect-section {

        .contect-heading {
            padding: 0 0 30px 0;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;

            .contect-h {

                h3 {
                    font-size: 1.7rem;
                    text-align: center;
                    padding-bottom: 11px;
                }
            }
        }

        .contect-content {


            #contactForm {
                padding: 0px 0 40px 0;

                .firstinputcss {
                    width: 100%;
                    padding: 10px 8px;
                    font-size: 16px;
                    border-radius: 0px;
                    margin: 10px 0px 5px 0px;
                }
            }

            .contect-address {
                h6 {
                    font-size: 18px;
                    margin: 0 0 5px 0px;
                    color: #202020;
                }

                p {
                    margin: 0 0 15px 0;
                    font-size: $ft-14;
                }

                .contect-icon-span {

                    .contect-icon {
                        font-size: 16px;
                        margin: 0px 10px 0px 10px;
                    }
                }
            }
        }

    }

    //testimonial-section

    .testimonial-section {
        padding: 70px 0 0px 0;

        .testimonial-head {
            width: 100%;

            h6 {
                font-size: $ft-14;
                font-weight: 400;
            }

            h3 {
                font-size: $ft-26;
                margin-top: 10px;
            }
        }

        .testimonial-slider {
            padding: 20px 20px;

            .testimonial-slider-content {
                max-width: 100%;
                text-align: center;

                .star-sm-class {
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                }
            }
        }

        .swiper-click-arrow-container {
            padding: 0 20px 0 20px;
            bottom: 300px;
            font-size: 32px;
        }
    }

    // newsblog-section
    .newsblog-section {

        .work-portfolio-h {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h4 {
                font-size: 1.7rem !important;
                max-width: 100% !important;
            }
        }

        .newsblog-content {
            margin: 0 0 30px 0;

            p {
                font-size: $ft-14;
                font-weight: 300;
            }

            .blog-image {
                .blog-image-hover-arrow {

                    i {
                        font-size: 30px !important;
                    }
                }
            }
        }
    }

    //question-section
    .question-section {
        .testimonial-head {
            width: 100%;

            h6 {
                font-weight: 400;
            }

            h3 {
                font-size: 1.7rem;
                margin: 10px 0 25px 0;
            }
        }

    }

    //footer
    footer {

        .footer-head {
            padding: 25px 0px 30px 0;

            h4 {
                font-size: 1.7rem;
                text-align: center;

            }

            .learn-btn {

                a {
                    font-size: 14px;
                    padding: 8px 37px 8px 14px;
                }

                i {
                    font-size: 30px;
                    top: -10px;
                }

            }
        }

        .footer-content {
            .footer-service {
                text-align: center;

                img {
                    left: 80px;
                }

                p {
                    font-size: $ft-14;
                    font-weight: 300;
                    padding: 7px 0px 10px 0;
                }
            }

            .footer-navigation {
                margin-top: 25px;
                text-align: center;

                ul {
                    margin: 0;

                    li {
                        line-height: 1.9;
                    }
                }
            }

            .footer-email {
                margin: 20px 0 0 0px;
                text-align: center;

                #footer-email {
                    position: relative;
                    margin: 10px 0 0 0;

                    .footer-email-input {
                        padding: 8px 13px;
                        width: 68%;
                        border-radius: 15px;
                        font-size: $ft-16;
                    }

                    .footer-send-icon {
                        cursor: pointer;
                        padding: 0px 9px;
                        right: 56px;
                        top: 1px;
                        font-size: 26px;
                    }
                }
            }
        }

        .copyright {
            h5 {
                font-size: $ft-14;
                padding: 4px 0;
                margin: 0 auto !important;
            }
        }
    }

    //bradcome section queary
    section.bradcome {
        padding: 50px 0;

        .bradcome-content {
            h5 {
                font-size: 1.7rem;
                color: #fff;
            }
        }
    }





}

// .nav {
//     position: absolute;
//     background-color: #000;
//     width: 100%;
//     z-index: 111111;
//     top: 50px;
//     transition: 0.8s;

// .transformnone {
//     transform: translateX(-100%);
//     transition: 0.8s;
// }


//     .navbar {
//         flex-direction: column;

//         .navbar-brand {
//             display: none;
//         }

//         ul {
//             flex-direction: column;

//             .closeicon {
//                 display: block !important;
//                 position: relative;
//                 right: -166px;
//             }

//             a {
//                 line-height: 3;
//                 padding: 10px 40px;
//             }
//         }
//     }
// } 
.hero-section {
    padding: 30px 0;
}